* {
  font-family: 'Nunito', sans-serif; }

body {
  background-color: #F1F1F1; }

* {
  font-family: 'Nunito', sans-serif; }

body {
  background-color: #F1F1F1; }

.button {
  text-decoration: none;
  display: inline-block;
  color: #FFFFFF;
  padding: 0.7rem 2.5rem;
  background-color: #0048BA;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
  transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid #0046b5;
  border-radius: 4px;
  margin: 0 0 1rem 0;
  font-size: 0.9rem; }
  .button.raw {
    background-color: transparent;
    border: 1px solid #0048BA;
    color: #0048BA; }
    .button.raw:hover {
      background-color: transparent;
      border: 1px solid #002154;
      color: #002154; }
  .button.expand {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .button.flat {
    border-radius: 0; }
  .button:hover {
    background-color: #003ea1; }
  .button.micro {
    font-size: 0.54rem;
    padding: 0.42rem 1.5rem; }
  .button.small {
    font-size: 0.72rem;
    padding: 0.56rem 2rem; }
  .button.large {
    font-size: 1.08rem;
    padding: 0.84rem 3rem; }
  .button.circle {
    position: relative;
    padding: 22px;
    margin: 4px;
    height: 0;
    width: 0;
    display: block;
    border-radius: 50%;
    font-size: 0; }
    .button.circle span {
      position: absolute;
      line-height: 0;
      top: 50%;
      width: 100%;
      left: 0;
      text-align: center;
      color: #fff; }
  .button.square {
    position: relative;
    padding: 22px;
    margin: 4px;
    height: 0;
    width: 0;
    display: block;
    border-radius: 10%;
    font-size: 0; }
    .button.square span {
      position: absolute;
      line-height: 0;
      top: 50%;
      width: 100%;
      left: 0;
      text-align: center;
      color: #fff; }
  .button.secondary {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    padding: 0.7rem 2.5rem;
    background-color: #5F8A8B;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid #5d8788;
    border-radius: 4px;
    margin: 0 0 1rem 0;
    font-size: 0.9rem; }
    .button.secondary.raw {
      background-color: transparent;
      border: 1px solid #5F8A8B;
      color: #5F8A8B; }
      .button.secondary.raw:hover {
        background-color: transparent;
        border: 1px solid #364e4e;
        color: #364e4e; }
    .button.secondary.expand {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
    .button.secondary.flat {
      border-radius: 0; }
    .button.secondary:hover {
      background-color: #557b7c; }
    .button.secondary.micro {
      font-size: 0.54rem;
      padding: 0.42rem 1.5rem; }
    .button.secondary.small {
      font-size: 0.72rem;
      padding: 0.56rem 2rem; }
    .button.secondary.large {
      font-size: 1.08rem;
      padding: 0.84rem 3rem; }
    .button.secondary.circle {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 50%;
      font-size: 0; }
      .button.secondary.circle span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }
    .button.secondary.square {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 10%;
      font-size: 0; }
      .button.secondary.square span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }
  .button.alert {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    padding: 0.7rem 2.5rem;
    background-color: #CA3435;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid #c63334;
    border-radius: 4px;
    margin: 0 0 1rem 0;
    font-size: 0.9rem; }
    .button.alert.raw {
      background-color: transparent;
      border: 1px solid #CA3435;
      color: #CA3435; }
      .button.alert.raw:hover {
        background-color: transparent;
        border: 1px solid #791f20;
        color: #791f20; }
    .button.alert.expand {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
    .button.alert.flat {
      border-radius: 0; }
    .button.alert:hover {
      background-color: #b62f30; }
    .button.alert.micro {
      font-size: 0.54rem;
      padding: 0.42rem 1.5rem; }
    .button.alert.small {
      font-size: 0.72rem;
      padding: 0.56rem 2rem; }
    .button.alert.large {
      font-size: 1.08rem;
      padding: 0.84rem 3rem; }
    .button.alert.circle {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 50%;
      font-size: 0; }
      .button.alert.circle span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }
    .button.alert.square {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 10%;
      font-size: 0; }
      .button.alert.square span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }
  .button.warning {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    padding: 0.7rem 2.5rem;
    background-color: #FFD12A;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid #ffd025;
    border-radius: 4px;
    margin: 0 0 1rem 0;
    font-size: 0.9rem; }
    .button.warning.raw {
      background-color: transparent;
      border: 1px solid #FFD12A;
      color: #FFD12A; }
      .button.warning.raw:hover {
        background-color: transparent;
        border: 1px solid #c39900;
        color: #c39900; }
    .button.warning.expand {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
    .button.warning.flat {
      border-radius: 0; }
    .button.warning:hover {
      background-color: #ffcb11; }
    .button.warning.micro {
      font-size: 0.54rem;
      padding: 0.42rem 1.5rem; }
    .button.warning.small {
      font-size: 0.72rem;
      padding: 0.56rem 2rem; }
    .button.warning.large {
      font-size: 1.08rem;
      padding: 0.84rem 3rem; }
    .button.warning.circle {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 50%;
      font-size: 0; }
      .button.warning.circle span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }
    .button.warning.square {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 10%;
      font-size: 0; }
      .button.warning.square span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }
  .button.success {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    padding: 0.7rem 2.5rem;
    background-color: #1AB385;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid #19af82;
    border-radius: 4px;
    margin: 0 0 1rem 0;
    font-size: 0.9rem; }
    .button.success.raw {
      background-color: transparent;
      border: 1px solid #1AB385;
      color: #1AB385; }
      .button.success.raw:hover {
        background-color: transparent;
        border: 1px solid #0d5a43;
        color: #0d5a43; }
    .button.success.expand {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
    .button.success.flat {
      border-radius: 0; }
    .button.success:hover {
      background-color: #179d74; }
    .button.success.micro {
      font-size: 0.54rem;
      padding: 0.42rem 1.5rem; }
    .button.success.small {
      font-size: 0.72rem;
      padding: 0.56rem 2rem; }
    .button.success.large {
      font-size: 1.08rem;
      padding: 0.84rem 3rem; }
    .button.success.circle {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 50%;
      font-size: 0; }
      .button.success.circle span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }
    .button.success.square {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 10%;
      font-size: 0; }
      .button.success.square span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }
  .button.info {
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    padding: 0.7rem 2.5rem;
    background-color: #FF681F;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
    vertical-align: middle;
    border: 1px solid #ff651a;
    border-radius: 4px;
    margin: 0 0 1rem 0;
    font-size: 0.9rem; }
    .button.info.raw {
      background-color: transparent;
      border: 1px solid #FF681F;
      color: #FF681F; }
      .button.info.raw:hover {
        background-color: transparent;
        border: 1px solid #b83c00;
        color: #b83c00; }
    .button.info.expand {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
    .button.info.flat {
      border-radius: 0; }
    .button.info:hover {
      background-color: #ff5706; }
    .button.info.micro {
      font-size: 0.54rem;
      padding: 0.42rem 1.5rem; }
    .button.info.small {
      font-size: 0.72rem;
      padding: 0.56rem 2rem; }
    .button.info.large {
      font-size: 1.08rem;
      padding: 0.84rem 3rem; }
    .button.info.circle {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 50%;
      font-size: 0; }
      .button.info.circle span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }
    .button.info.square {
      position: relative;
      padding: 22px;
      margin: 4px;
      height: 0;
      width: 0;
      display: block;
      border-radius: 10%;
      font-size: 0; }
      .button.info.square span {
        position: absolute;
        line-height: 0;
        top: 50%;
        width: 100%;
        left: 0;
        text-align: center;
        color: #fff; }

* {
  font-family: 'Nunito', sans-serif; }

body {
  background-color: #F1F1F1; }

.frame {
  padding: 2%;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: 10px 5px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative; }
  .frame.primary {
    background-color: #3b87ff; }
  .frame.secondary {
    background-color: #a7c2c3; }
  .frame.alert {
    background-color: #e59999; }
  .frame.success {
    background-color: #64e8c1; }
  .frame.warning {
    background-color: #ffedaa; }
  .frame.info {
    background-color: #ffbe9f; }

/*# sourceMappingURL=app.css.map */
