@import "../default";

.simple-slider {
  width: 50px;
  height: 12px;
  background: $bg-color-slider;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);

  label {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: -2px;
    left: -3px;
    cursor: pointer;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;

  }

  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label {
      left: 37px;
      background: linear-gradient(to bottom, #b3bead 0%, #dfe5d7 40%, #fcfff4 100%);
      border: 0.036em dashed $bg-color-slider;
    }
  }

}

.slider-large {
  width: 60px;
  height: 22px;
  background: $bg-color-slider;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);

  label {
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    left: 4px;
    cursor: pointer;
    background: #fcfff4;
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease;
    opacity: 0.6;
  }

  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label {
      left: 40px;
      opacity: 1;
    }
  }
}

.slider {
  width: 80px;
  height: 30px;
  background: $bg-color-slider;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
  &:after {
    content: '';
    position: absolute;
    top: 14px;
    left: 14px;
    height: 2px;
    width: 52px;
    background: #111;
    border-radius: 50px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  label {
    display: block;
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    top: 4px;
    z-index: 1;
    left: 4px;
    background: #fcfff4;
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 2px;
      background: $bg-color-slider;
      border-radius: 50px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 1), 0 1px 0 rgba(255, 255, 255, 0.9);
    }
  }
  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label {
      left: 54px;
      &:after {
        background: $primary-color;
      }
    }
  }

  @each $class, $bg-color in $button-colors {
    &.#{$class} {
      input[type=checkbox], input[type=radio] {
        &:checked + label {
          &:after {
            background: $bg-color;
          }
        }
      }
    }
  }

}

.slider-button {
  width: 80px;
  height: 26px;
  background: $bg-color-slider;
  margin: 20px auto;
  position: relative;
  border-radius: 50px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);

  &:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
  }

  &:before {
    content: 'ON';
    color: $primary-color;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }

  @each $class, $bg-color in $button-colors {
    &.#{$class} {
      &:before {
        color: $bg-color;
      }
    }
  }

  label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  }

  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label {
      left: 43px;
    }
  }

}

.rounded {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    //background: linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);

    border-radius: 50px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 1);
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $primary-color;
      background: linear-gradient(top, $primary-color 0%, darken($primary-color, 20%) 100%);
      opacity: 0;
      border-radius: 50px;
      box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }

  @each $class, $bg-color in $button-colors {
    &.#{$class} {
      label:after {
        background: $bg-color;
        background: linear-gradient(top, $bg-color 0%, darken($bg-color, 20%) 100%);
      }
    }
  }

  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.rounded-bordered {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  //background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    //background: linear-gradient(top, #222 0%, #45484d 100%);
    background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 5px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0.1;
      transform: rotate(-45deg);
    }

    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.squared {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  //background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);

  box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
  label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    left: 4px;
    cursor: pointer;
    //background: linear-gradient(top, #222 0%, #45484d 100%);
    background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 1);
    &:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: $primary-color;
      background: linear-gradient(top, $primary-color 0%, darken($primary-color, 20%) 100%);
      box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
      opacity: 0;
    }
    &:hover::after {
      opacity: 0.3;
    }
  }

  @each $class, $bg-color in $button-colors {
    &.#{$class} label:after {
      background: $bg-color;
      background: linear-gradient(top, $bg-color 0%, darken($bg-color, 20%) 100%);
    }
  }

  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.squared-bordered {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 20px auto;
  background: #fcfff4;
  //background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    //background: linear-gradient(top, #222 0%, #45484d 100%);
    background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 1);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0.1;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.squared-light {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    //background: linear-gradient(top, #222 0%, #45484d 100%);
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, .4);

    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0.1;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}

.squared-dark {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0 1px 1px white, 0 1px 3px rgba(0, 0, 0, 0.5);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid $bg-color-slider;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0.1;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.5;
    }
  }
  input[type=checkbox], input[type=radio] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}