// Default colors
$white: #FFFFFF;
$black: #000000;
$light-gray: #F1F1F1;

// Colors of the system
//$primary-color:   #02A4D3;
$primary-color:   #0048BA;
$secondary-color: #5F8A8B;
$alert-color:     #CA3435;
$success-color:   #1AB385;
$warning-color:   #FFD12A;
$info-color:      #FF681F;

* {
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: $light-gray;
}