@import "base";
@import "utils";

$button-font-size: 0.9rem;
$button-padding-top-bottom: 0.7rem;
$button-padding-right-left: 2.5rem;
$button-light-color: $white;
$button-dark-color: $black;

@mixin generate-button($bg-color) {

  text-decoration: none;
  display: inline-block;
  color: $button-light-color;
  padding: $button-padding-top-bottom $button-padding-right-left;
  background-color: $bg-color;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
  transition: color, background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid darken($bg-color, 1%);
  border-radius: 4px;
  margin: 0 0 1rem 0;
  font-size: 0.9rem;

  &.raw {
    background-color: transparent;
    border: 1px solid $bg-color;
    color: $bg-color;

    &:hover {
      background-color: transparent;
      border: 1px solid darken($bg-color, 20%);
      color: darken($bg-color, 20%);
    }
  }

  // TODO: FIX BREAK LAYOUT
  &.expand {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &.flat {
    border-radius: 0;
  }

  &:hover {
    background-color: darken($bg-color, 5%);
  }

  &.micro {
    font-size: scale($button-font-size, -40%);
    padding: scale($button-padding-top-bottom, -40%) scale($button-padding-right-left, -40%);
  }
  &.small {
    font-size: scale($button-font-size, -20%);
    padding: scale($button-padding-top-bottom, -20%) scale($button-padding-right-left, -20%);
  }
  &.large {
    font-size: scale($button-font-size, 20%);
    padding: scale($button-padding-top-bottom, 20%) scale($button-padding-right-left, 20%);
  }

  &.circle {
    position: relative;
    padding: 22px;
    margin: 4px;
    height: 0;
    width: 0;
    display: block;
    border-radius: 50%;
    font-size: 0;

    span {
      position: absolute;
      line-height: 0;
      top: 50%;
      width: 100%;
      left: 0;
      text-align: center;
      color: #fff;
    }
  }

  &.square {
    position: relative;
    padding: 22px;
    margin: 4px;
    height: 0;
    width: 0;
    display: block;
    border-radius: 10%;
    font-size: 0;

    span {
      position: absolute;
      line-height: 0;
      top: 50%;
      width: 100%;
      left: 0;
      text-align: center;
      color: #fff;
    }
  }
}

.button {
  @include generate-button($primary-color);

  &.secondary {
    @include generate-button($secondary-color);
  }

  &.alert {
    @include generate-button($alert-color);
  }

  &.warning {
    @include generate-button($warning-color);
  }

  &.success {
    @include generate-button($success-color);
  }

  &.info{
    @include generate-button($info-color);
  }
}
