@import "default";

* {
  &::selection {
    background: lighten($primary-color, 10%); /* WebKit/Blink Browsers */
  }

  &::-moz-selection {
    background: lighten($primary-color, 10%); /* Gecko Browsers */
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.2rem 0 1.6rem 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;

  &.sub {
    color: $gray;
    &.header {
      display: block;
      border-bottom: 1px solid $gray;
    }
  }

  &.header {
    display: block;
    border-bottom: 1px solid $black;
  }

  &.bolder{
    text-shadow: 0 1px $light-gray;
    font-weight: bolder;
  }
}

a, abbr, address, article, aside, audio, b, bdi, bdo, blockquote, button, cite, datalist, dt, dd, dl, del, ins, details,
dfn, dialog, em, fieldset, figcaption, footer, header, i, input, ins, kbd, label, legend, li, link, main, mark, menu, menuitem
meter, nav, ol, output, option, optgroup, p, q, rp, rt, ruby, s, samp, section, span, strike, strong, sub, summary, sup,
table, tbody, td, textarea, tfoot, th, thead, time, title, tr, u, ul, var, video
{
  font-family: $font-family;
  font-size: $typography-font-size;
}

.text {
  font-family: $font-family;

  &.primary {
    color: darken($primary-color, 15%);
  }

  @each $class, $bg-color in $button-colors {
    &.#{$class} {
      color: darken($bg-color, $text-darken-percent);
    }
  }

  &.bold{
    font-weight: bold;
  }

  &.light {
    font-weight: lighter;
  }

  &.centered {
    text-align: center;
  }

  &.justify {
    text-align: justify;
  }

  &.right {
    text-align: right;
  }

  &.left {
    text-align: left;
  }
}

code, pre {
  font-family: $font-family-monospace;
}